button {
  border: none;
  background: rgb(41, 160, 41);
  color: white;
  align-items: center;
  padding: 10px;
  width: 100px;
}

legend {
  text-align: center;
}

table th,
table td {
  border: 1px solid;
  padding: 20px;
}
